*{padding: 0px; 
  margin: 0px; 
  background-color: rgb(8, 8, 8); 
} 
span{
  color: blueviolet;
  font-size: 35px;
}
.cont{ 
  padding-top:50px; 
  margin-left: 50px; 
  height: 200px; 
  width: 800px; 
  color: rgb(242, 203, 8); 
  font-size:50px; 
  display: flex; 
       } 
      #sum{ 
        display: flex; 
      } 
 #img{ 
  padding-right: 2px; 
  padding-top: 20px; 
   height: 400px; 
   width: 400px; 
   background-size: cover; 
 
  } 
        .line{ 
          margin-top: 10px; 
          margin-bottom: 20px; 
          height: 2px; 
          width: 100%; 
         background-color: rgb(235, 202, 13); 
        } 
        #selector{ 
          margin: 5px; 
          margin-left: 10px; 
              height: 400px; 
              width: 400px; 
              text-align: center; 
              display: flex; 
              color: rgb(143, 219, 29); 
              border: 5px solid whitesmoke; 
              font-size: 25px; 
        } 
  .decuration{ 
    justify-content: center; 
    display: flex; 
      } 
      .last{ 
       padding-left:30%; 
        color: orange; 
        font-size: 35px ; 
      }